<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="jp.android.TakamiChie.Android.TTSSignal" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="4" />

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:label="@string/app_name" android:name=".activity.ActivityMain">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".activity.ActivitySettings"></activity>
		<activity android:name=".activity.ActivitySpeakCurrentTime"
			android:noHistory="true" android:label="@string/caption_speakCurrentTime"
			android:icon="@drawable/icon" android:theme="@android:style/Theme.Translucent" android:enabled="false" android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH_LONG_PRESS"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>

	</application>
</manifest>